 <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

      <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal">
          Sistema Mercadinho
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produtos/allProdutos">
              <i class="material-icons">store</i>
              <p>Produtos</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/fornecedores/allFornecedores">
              <i class="material-icons">storage</i>
              <p>Fornecedores</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/clientes/allClientes">
              <i class="material-icons">group</i>
              <p>Clientes</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/usuarios/allusuarios">
              <i class="material-icons">person_add</i>
              <p>Usuarios</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/vendas/listarVendas">
              <i class="material-icons">thumbs_up_down</i>
              <p>Vendas</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    
{{>navbar}}


    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

      <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal">
          Sistema Mercadinho
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/home">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produtos/allProdutos">
              <i class="material-icons">Produtos</i>
              <p>Produtos</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/fornecedores/allFornecedores">
              <i class="material-icons">Fornecedores</i>
              <p>Fornecedores</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/clientes/allClientes">
              <i class="material-icons">Clientes</i>
              <p>Clientes</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/usuarios/allusuarios">
              <i class="material-icons">usuarios</i>
              <p>Usuarios</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/vendas/listarVendas">
              <i class="material-icons">Vendas</i>
              <p>Vendas</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>

{{> navbar}}


<div style="margin-left: 30%;">
    <h1 style="margin-top: 15px;margin-bottom: 15px;">Editar usuario: {{usuario.nome}}</h1>
    <form action="/usuarios/edit" method="post" >
        <input type="hidden" name="id" value="{{usuario.id}}" />
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" value="{{usuario.nome}}" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" value="{{usuario.email}}" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" name="password" value="{{usuario.password}}" class="form-control" />
        </div>              
        <div class="row md-2" style="margin-top: 15px; margin-left:5px">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-danger" href="/usuarios/allUsuarios">Voltar</a>
            </div>

        </div>    
    </form>
</div>


