

<div class="main-w3layouts wrapper">
	<h1 class="d-flex justify-content-center" style="margin-top: 15px;" >Lista de Fornecedores</h1>
	<div class="main-agileinfolista ">
		
		<div class="agileits-top container-tabela">
			<div class="d-flex justify-content-end" style="margin-bottom: 15px;"><a href="/fornecedores/novo" class="btn btn-success novoProd">Novo Fornecedor</a></div>
			
			<table class="table table-bordered ">
				<thead>
					<tr class="titulo">
						<th scope="col">Id</th>
						<th scope="col">Nome</th>
						<th scope="col">E-mail</th>
						<th scope="col">Telefone</th>
						<th scope="col" colspan="2" class="acoes">Ações</th>
					</tr>
				</thead>
				<tbody>
					{{#each clientes}}
						<tr>
							<th scope="row">{{this.id}}</th>
							<td>{{this.nome}}</td>
							<td>{{this.email}}</td>
							<td>R$ {{this.telefone}}</td>
							<td class="btnAcoes">
								<a href="/fornevedores/editar/{{this.id}}" class="btn btn-success">
									Editar
								</a>
							</td>
							<td class="btnAcoes">
								<form action="/fornecedores/remove" method="post">
									<button type="submit" class="btn btn-danger">
          								<input type="hidden" name="id" value="{{this.id}}">
										Excluir
									</button>
								</form>
							
							</td>
						</tr>
					{{else}}
					<h4 class="mt-2">Nenhum Fornecedor cadastrado!</h4>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>