
 <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

	<div class="logo">
	<a href="/home" class="simple-text logo-normal">
		Sistema Mercadinho
	</a>
	</div>
	
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item ">
			<a class="nav-link" href="/">
				<i class="material-icons">dashboard</i>
				<p>Dashboard</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/produtos/allProdutos">
				<i class="material-icons">store</i>
				<p>Produtos</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/fornecedores/allFornecedores">
				<i class="material-icons">storage</i>
				<p>Fornecedores</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/clientes/allClientes">
				<i class="material-icons">group</i>
				<p>Clientes</p>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/usuarios/allusuarios">
				<i class="material-icons">person_add</i>
				<p>Usuarios</p>
			</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/vendas/listarVendas">
				<i class="material-icons">thumbs_up_down</i>
				<p>Vendas</p>
			</a>
			</li>
			
		</ul>
	</div>
</div>

{{>navbar}}
<div id="conteudo" style="margin-left:20px;">
	<h1 style=" text-align: center;">Lista de Clientes</h1>
	<br>
	<div class="d-flex justify-content-end" style="margin-bottom: 15px;"><a href="/vendas/realizarvenda"
			class="btn btn-primary novoProd">Novo Cliente</a>
	</div>

	

<table class="table table-hover" >
  <thead>
			<tr style="background-color:#0069D9;">
                        <th scope="col">ID</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Data da Venda</th>
						<th scope="col" colspan="2" class="acoes">Ações</th>
			</tr>
		</thead>
		<tbody>
			{{#each vendas}}
			<tr >
							<th scope="row">{{this.idVenda}}</th>
							    <td>{{this.Cliente.nome}}</td>
                                <td>{{this.Produto.nome}}</td>
                                <td>{{this.Fornecedor.nome}}</td>
                                <td>{{this.quantidade}}</td>
                                <td>{{this.createdAt}}</td>

				<td class="btnAcoes" style="text-align: center;">

							<a href="vendas/editarVendas/{{this.id}}" class="btn btn-success">
									Editar
							</a>
								<form action="vendas/remove" method="post">

						<button id="btnExcluir" type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#mymodal">
							<img src="/imagens/excluir3.png" alt="Excluir-produto" height="22px">
						</button>
						<div id="mymodal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">excluir Forneceedor?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Deseja excluir os dados?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Fechar</button>
										<button type="submit" class="btn btn-danger botao">
											<input type="hidden" name="id" value="{{this.id}}">
											Excluir
											<img src="/imagens/trash.svg" alt="Excluir-produto" height="22px">
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
						</td>

				</td>
			</tr>
			{{else}}
			<h4 class="mt-2">Nenhum Cliente cadastrado!</h4>
			{{/each}}
		</tbody>
</table>
</div>
</body>