
 <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

	<div class="logo">
	<a href="/home" class="simple-text logo-normal">
		Sistema Mercadinho
	</a>
	</div>
	
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item ">
			<a class="nav-link" href="/">
				<i class="material-icons">dashboard</i>
				<p>Dashboard</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/produtos/allProdutos">
				<i class="material-icons">store</i>
				<p>Produtos</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/fornecedores/allFornecedores">
				<i class="material-icons">storage</i>
				<p>Fornecedores</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/clientes/allClientes">
				<i class="material-icons">group</i>
				<p>Clientes</p>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/usuarios/allusuarios">
				<i class="material-icons">person_add</i>
				<p>Usuarios</p>
			</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/vendas/listarVendas">
				<i class="material-icons">thumbs_up_down</i>
				<p>Vendas</p>
			</a>
			</li>
			
		</ul>
	</div>
</div>
{{>navbar}}
<div style="margin-left: 30%; margin-top:15px;">

    <h1>Realizar Venda</h1>
    <form action="/vendas/realizarvenda" method="POST">
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente">
            {{#each clientes}}
                <option value="{{this.id}}">{{this.nome}}</option>
            {{/each}}
        </select>
        <br>

        <label for="produto">Produto:</label>
        <select name="produto" id="produto">
            {{#each produtos}}
                <option value="{{this.id}}">{{this.nome}}</option>
            {{/each}}
        </select>
        <br>

        <label for="fornecedor">Fornecedor:</label>
        <select name="fornecedor" id="fornecedor">
            {{#each fornecedores}}
                <option value="{{this.id}}">{{this.nome}}</option>
            {{/each}}
        </select>
        <br>

        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade">
        <br>

        <input type="submit" value="Salvar">
    </form>


</div>